@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


@layer components {
  .loginDiv {
    background: rgb(25,15,34);
background: linear-gradient(110deg, rgba(25,15,34,1) 17%, rgba(58,55,81,1) 47%, rgba(74,80,106,1) 62%, rgba(171,153,195,1) 100%);
    @apply flex justify-center items-center min-h-screen;
  }
  .loginInput{
    height: 44px;
    border-radius: 4px;
    border: 1px solid #e5e5e5;
    padding: .6rem ;

    @apply focus:outline-main focus:caret-main ;
  }
  .loginInput::placeholder{
    color: #cdcdcd;
    @apply font-montserrat text-[12px] font-[400];
  }
  .container-wrapper{
    @apply max-w-6xl mx-auto py-3 px-2 ;
  }
}

.navlinks a{
  padding: 6px 14px;

  border-radius: 10px;
}

.navlinks a:hover{ 

  color:white;
  background-color: darkslategrey;
}
.active{
  color:black;
  background-color: white;
}


.navbar-bg{
  background: rgb(25,15,34);
  background: linear-gradient(20deg, rgba(25,15,34,1) 17%, rgba(58,55,81,1) 47%, rgba(74,80,106,1) 62%, rgba(171,153,195,1) 100%);
}